PORT=3000
POSTGRES_URI="postgresql://<USER>:<PASSWORD>@localhost:<PORT>/<DB_NAME>"
MONGO_URI="mongodb+srv://cadena_db_user:123456Jj*@cluster0.6pvq7oq.mongodb.net/?appName=Cluster0"
FILE_DATA_CSV="./data/simulation_saludplus_data.csv"